.border {
    fill: none;
    stroke: #000000;
    stroke-width: 2px;
}

.regions.selected {
    fill: rgb(255, 255, 255);
    stroke: none;
    transition: all 0.2s ease;
}

.regions.selected:hover {
    fill: rgb(251, 150, 51);
    stroke: #000000;
    stroke-width: 1px;
}

.legend {
    height: 25px;
    font-size: 25px;
    color: rgb(0, 0, 0);
    text-align: center;
}